<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center" th:text="${name} ? 'Hello, ' + ${name} + '!'"></h1>
        <br>
        <br>
        <h3 class="text-center">My name is Yosua Krisnando Bagaskara</h3>
        <br>
        <h3 class="text-center">I was born in Tangerang, on 16 December 1998</h3>
        <br>
        <h3 class="text-center">I lived in Tangerang</h3>
        <br>
        <h3 class="text-center">My Education History : </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Education</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>SD Tarsisius Vireta</th>
                    <th>2005 - 2011</th>
                </tr>
                <tr>
                    <th>SMP Tarsisius Vireta</th>
                    <th>2011 - 2014</th>
                </tr>
                <tr>
                    <th>SMA Tarsisius Vireta</th>
                    <th>2014 - 2017</th>
                </tr>
                <tr>
                    <th>Universitas Indonesia</th>
                    <th>2017 -</th>
                </tr>
            </tbody>
        </table>
        <br>
        <h4 class="text-center">I like reading, singing, and sleeping. That's it</h4>
        <br>
        <h2 class="text-center" th:text="${name} ? ${name} + ', I hope you interested to hire me' : 'This is my CV'"></h2>
    </div>
    
</body>
</html>
